 /*============Default============*/
.page-header {
  padding-bottom: 9px;
  margin: 30px 0 20px;
  border-bottom: 1px solid #eee;
  font-family: 'Montserrat', sans-serif important;
}


 /*============Header============*/
 .header-container {
  background-color: #e74c3c;
  border-bottom: 2px solid #86170B;
}

.pt-links a.privacy , .pt-links a.about {
  margin-right: 20px;
}

.pt-links a {
  font-size: 11px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.pt-links {
  margin-top: 50px;
  text-align: right;
}

.header-container {
  background-color: #e74c3c;
  border-color: #c0392b;
}


/*============SUBHeader============*/
.subhead-content {
  background: #F9BBB5;
  border-top: 1px solid #931507;
  padding: 15px;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.30);
  -moz-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.30);
  box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.30);
  z-index: 999;
}

.slogan h1 {
  font-size: 25px !important;
  font-family: 'Montserrat', sans-serif important;
  margin-top: 30px;
}

.login form.form-inline {
  float: right;
}

.login label {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.login input {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 2px 5px;
}

.login form span.col-md-5 {
  margin-top: 23px;
}

.login .btn {
  margin-top: 23px;
  padding: 3px 20px;
  background: #E74C3C;
  color: #fff;
}



/*============Top Pets============*/
.land-content {
  background-image: url('../images/land-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.land-main-cont{
  background-color: rgba(252, 236, 236, 0.80);
}

.top-pets {
  margin: 10px 0;
}

.top-pets h2 {
  font-size: 22px !important;
  font-family: 'Montserrat', sans-serif important;
  text-align: center;
}

.top-pets ul {
  display: table;
  margin: 0 auto !important;
  padding: 0;
}

.top-pets ul li {
  list-style: none;
  float: left;
  margin: 15px 0;
  text-align: center;
}

ul.first-top-pet li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ECE5E4;
  margin-left: 7.8px;
}

ul.sec-top-pet li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ECE5E4;
  margin-left: 7.8px;
}

.top-pets ul li img:hover {
 transition: box-shadow 0.4s ease;
 -webkit-box-shadow: 4px 2px 8px 0px rgba(50, 50, 50, 0.45);
 -moz-box-shadow: 4px 2px 8px 0px rgba(50, 50, 50, 0.45);
 box-shadow: 4px 2px 8px 0px rgba(50, 50, 50, 0.45);
 visibility: visible;
}

.top-pets ul li p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5px;
  padding: 0 10px;
}


/*============Registration============*/
.reg h2 {
  font-size: 26px !important;
  font-family: 'Montserrat', sans-serif important;
  margin-bottom: 10px !important;
}

.reg h3 {
  font-size: 22px !important;
  font-family: 'Montserrat', sans-serif important;
  margin-bottom: 20px !important;
}

.reg label {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.reg input {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 0px 5px;
}

.reg .btn {
  margin-top: 23px;
  padding: 3px 20px;
  background: #E74C3C;
  color: #fff;
}
.register-main > div{
  padding: 10px;
}

.register-page {
  background-image: url('../images/animals.png');
  background-position: bottom left;
  background-repeat: repeat-x;
}


/*============Newsfeed Sub Header============*/
.navbar-right li a {
  color: #89342C;
  font-family: 'Montserrat', sans-serif important;
}

.middle .page-header h2 {
  font-size: 20px;
}

.newsfeed-area {
  border-top: 1px solid #eee;
  padding-top: 30px;
}

.middle .btn {
  margin-top: 0px;
  padding: 3px 20px;
  background: #E74C3C;
  color: #fff;
  border-radius: 0px;
}

.newsfeed-area ul li div a img.media-object {
  border: 1px solid #F8E1D9;
}

.comment-post{
  list-style-type: none;
  padding: 10px ;
}
.hide_submit{
  display: none;
}
.post-area{
  margin-top: 10px !important;
}
#fileuploader{
  display: none;
}
.comment-box{
  width: 100%;
  height: 30px;
}

.newsfeed-area ul li p a {
  color: #E74C3C;
}


/*============Pet of the Day Page============*/
.col-lg-12.pd-infos {
  margin: 30px 0;
}

.pd-content h1 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin: 30px 0;
  color: #555564 !important;
  font-family: 'Montserrat', sans-serif important;
}

.pd-photo {
  text-align: center;
}

.pd-photo a img {
  border: 3px solid #FD8E00;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.45);
  box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.45);
  background: #fff;
}

.pd-name h2 {
  color: #FFFFFF !important;
  font-family: 'Montserrat', sans-serif important;
  background-image: url('../images/name_ribbon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 20px 10px 10px 10px;
  text-align: center;
  margin: -9px;
}

.pd-name a:hover {
  text-decoration: none;
}

.pd-infos ul {
  padding: 0;
}

.pd-infos ul li {
  list-style: none;
  font-family: 'Montserrat', sans-serif important;
  color: #3D1409;
}

.pd-infos ul li span {
  color: #E74C3C;
}


/*============LEFT SIDEBAR============*/
.bg-rocky{
   background: rgba(242, 197, 181, 0.5);
   background-image: url('../images/animals.png');
   background-position: bottom left;
   background-repeat: no-repeat;
}

.middle{
  background-color: white;
  padding: 15px;
}
.left {
  text-indent: 50px;
}

.left-nav {
  padding: 20px;
  font-family: 'Montserrat', sans-serif important;
}

.left-nav .list-group {
  margin-bottom: 0;
}

.left-nav a:hover {
  background-color: #F9BBB5;
  background-image: url();
  background-position: left;
  background-repeat: no-repeat;
  color: #300D03;
  padding: 10px 20px 10px 20px;
}

a.list-group-item.loc {
  background-image: url('../images/Locate_my_petBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.loc:hover {
  background-image: url('../images/Locate_my_petBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.petday {
  background-image: url('../images/pet_of_the_dayBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.petday:hover {
  background-image: url('../images/pet_of_the_dayBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.trend {
  background-image: url('../images/TrendingBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.trend:hover {
  background-image: url('../images/TrendingBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.ads {
  background-image: url('../images/AdvertiseBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.ads:hover {
  background-image: url('../images/AdvertiseBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.shop {
  background-image: url('../images/ShopBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.shop:hover {
  background-image: url('../images/ShopBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.track {
  background-image: url('../images/TrackersBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.track:hover {
  background-image: url('../images/TrackersBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-addpet {
  padding: 10px 20px;
}

.add-my-pet {
  background-image: url('../images/plusBG.png');
  background-position: left;
  background-repeat: no-repeat;
  padding: 8px 15px;
  background-color: #fff;
  width: 100%;
  text-indent: 25px;
  border-left: 3px solid #C0C0C0;
  border-bottom: 3px solid #C0C0C0;
}

.add-my-pet a {
  width: 100%;
  display: inline-block;
  color: #555;
  font-family: 'Montserrat', sans-serif important;
  font-size: 18px;
}

.add-my-pet a:hover {
  text-decoration: none !important;
  color: #E74C3C;
}


/*============RIGHT SIDEBAR============*/

.right {
  text-align: center;
  padding: 0 20px;
}

.right-nav div:last-child {
  margin-bottom: 20px;
}

.right-nav div {
  background: #fff;
  margin: 20px 0 10px 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #DEDDDC;
}

.right legend {
  font-family: 'Montserrat', sans-serif important;
}

.right nav ul {
  padding: 0;
  list-style: none;
  display: table;
  margin: 0 auto !important;
}

.right nav ul li {
  margin-bottom: 5px;
}

.right nav ul li a img {
  margin-right: 5px;
}

.right nav ul li a {
  color: #414040;
  font-family: 'Montserrat', sans-serif important;
}


/*============Footer============*/
.footer {
  background: #E74C3C;
  padding: 15px;
  -webkit-box-shadow: 0px -5px 8px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px -5px 8px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px -5px 8px 0px rgba(50, 50, 50, 0.3);
  z-index: 999;
}

.footer p {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif important;
  color: #fff;
  margin: 0;
}

/*============Responsive============*/

@media only screen(min-width: 1200px){
  .container {
    width: 1170px;
  }
}


/*========= OTHER ============ */

.dropdown-menu{
  margin: 15px 0 0;
}