 /*============Default============*/
 .page-header {
  padding-bottom: 9px;
  margin: 30px 0 20px;
  border-bottom: 1px solid #eee;
  font-family: 'Montserrat', sans-serif important;
}

a:hover {
  text-decoration: none;
}

/*=============GENERAL=============*/
.bl {
	display: block !important;
}

/*============Header============*/
.header-container {
  background-color: #e74c3c;
  border-bottom: 2px solid #86170B;
}

.pt-links a.privacy , .pt-links a.about {
  margin-right: 20px;
}

.pt-links a {
  font-size: 11px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.pt-links {
  margin-top: 50px;
  text-align: right;
}

.header-container {
  background-color: #e74c3c;
  border-color: #c0392b;
}

#nav-notif:hover #notif-main {
  display: block;
}

#notif-main {
  position: absolute;
  display: none;
  padding: 0;
  background-color: #eee;
  border-radius: 5px;
  width: 250px;
  left: -190px;
}

#notif-main #notif-header {
  padding: 5px;
  border-bottom: 1px solid #DD7676;
}

#notif-main li {
  list-style: none;
  border-bottom: 1px solid #ddd;
}

#notif-main li.notif-outer {
  padding: 5px 15px;
}

#notif-main li.notif-outer.active {
  background-color: #FCD0CC;
}

/*============SUBHeader============*/
.subhead-content {
  background: #F9BBB5;
  border-top: 1px solid #931507;
  padding: 15px;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.30);
  -moz-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.30);
  box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.30);
  z-index: 999;
}

.slogan h1 {
  font-size: 25px !important;
  font-family: 'Montserrat', sans-serif important;
  margin-top: 30px;
}

.login form.form-inline {
  float: right;
}

.login label {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.login input {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 2px 5px;
}

.login form span.col-md-5 {
  margin-top: 23px;
}

.login .btn {
  margin-top: 23px;
  padding: 3px 20px;
  background: #E74C3C;
  color: #fff;
}


/*============Landing Page============*/
.landing-content {
  background-color: #F9EDEC;
}

.landing-content h2 {
  margin-top: 10px;
}

.land-mid-vid-btn {
  background-image: url('../images/paw-bg.png');
  background-position: center;
  padding: 0;
  border-left: 4px solid #FFADAD;
  border-right: 4px solid #FFADAD;
  outline: 4px solid #F9CDC5;
}

.landing-content .glyphicon-hand-right, .landing-content .glyphicon-hand-left {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 0.3s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: #E74C3C;
  padding: 5px;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #FF0000), color-stop(0.15, #FF00FF), color-stop(0.3, #00F), color-stop(0.45, #00FFFF), color-stop(0.6, #00C000),color-stop(0.75, #007700), color-stop(0.9, #EAEA00), color-stop(1, #FF3A00) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  font-size: 35px;
  -webkit-background-clip: text;
  background-clip: text;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.land-right-missing img, .land-left-found img {
  border: 10px dotted #FFB2AB;
  margin: 10px;
}

.land-left-found a, .land-right-missing a {
  color: #E74C3C;
  text-transform: uppercase;
}

.land-left-found a:hover, .land-right-missing a:hover {
  border-bottom: 2px solid #F58B80;
}

button.btn_found, button.btn_missing {
  background-color: #E74C3C;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px solid #F28C82;
  margin-top: 10px;
}

.land-vid {
  margin-top: 60px;
  margin-bottom: 30px;
}

.land-btn {
  margin-bottom: 30px;
  font-size: 20px;
  color: #960F06;
}

.land-btn a {
  background: #F79187;
  padding: 6px;
  font-size: 20px;
  color: #6B0F06;
  border-bottom: 4px solid #D26F65;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.land-btn a:hover {
  transition: background-color 0.5s ease;
  background-color: #FAD6D6;
  text-decoration: none;
  border-bottom: 4px solid #F29F96;
}

.land-missing .foundpets-page, .land-found .foundpets-page {
  background: #fff;
  border-left: 2px solid #F9BBB5;
  border-right: 2px solid #F9BBB5;
  text-align: left;
}

.land-missing button.btn.btn_found, .land-found button.btn.btn_found {
  margin-bottom: 10px;
}


/*============Top Pets============*/
.land-content {
  background-image: url('../images/land-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100% !important;
}

.land-main-cont{
  background-color: rgba(252, 236, 236, 0.80);
}

.top-pets {
  margin: 10px 0;
}

.top-pets h2 {
  font-size: 22px !important;
  font-family: 'Montserrat', sans-serif important;
  text-align: center;
}

.top-pets ul {
  display: table;
  margin: 0 auto !important;
  padding: 0;
}

.top-pets ul li {
  list-style: none;
  float: left;
  margin: 15px 0;
  text-align: center;
}

ul.first-top-pet li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ECE5E4;
  margin-left: 7.8px;
}

ul.sec-top-pet li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ECE5E4;
  margin-left: 7.8px;
}

.top-pets ul li img:hover {
 transition: box-shadow 0.4s ease;
 -webkit-box-shadow: 4px 2px 8px 0px rgba(50, 50, 50, 0.45);
 -moz-box-shadow: 4px 2px 8px 0px rgba(50, 50, 50, 0.45);
 box-shadow: 4px 2px 8px 0px rgba(50, 50, 50, 0.45);
 visibility: visible;
}

.top-pets ul li p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5px;
  padding: 0 10px;
}


/*============Registration============*/
.reg h2 {
  font-size: 26px !important;
  font-family: 'Montserrat', sans-serif important;
  margin-bottom: 10px !important;
}

.reg h3 {
  font-size: 22px !important;
  font-family: 'Montserrat', sans-serif important;
  margin-bottom: 20px !important;
}

.reg label {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.reg input {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 0px 5px;
}

.reg .btn {
  margin-top: 23px;
  padding: 3px 20px;
  background: #E74C3C;
  color: #fff;
}
.register-main > div{
  padding: 10px;
}

.register-page {
  background-image: url('../images/animals.png');
  background-position: bottom left;
  background-repeat: repeat-x;
}

label.col-sm-12.control-label.user-type {
  text-align: left;
}


/*============Newsfeed Sub Header============*/
.navbar-right li a {
  color: #89342C;
  font-family: 'Montserrat', sans-serif important;
}

.middle .page-header h2 {
  font-size: 20px;
}

.newsfeed-area {
  border-top: 1px solid #eee;
  padding-top: 30px;
}

.middle .btn {
  margin-top: 0px;
  padding: 3px 20px;
  background: #E74C3C;
  color: #fff;
  border-radius: 0px;
}

.newsfeed-area ul li div a img.media-object {
  border: 1px solid #F8E1D9;
}

.comment-post{
  list-style-type: none;
  padding: 10px ;
}
.hide_submit{
  display: none;
}
.post-area{
  margin-top: 10px !important;
}
#fileuploader{
  display: none;
}
textarea.comment-box{
  width: 100%;
  height: 30px;
}

ul.nav.nav-tabs li a {
  color: #E74C3C;
}

ul#home-newsfeed li a, ul#home-newsfeed i, ul#home-newsfeed span.like-counter, span.comment-counter {
  color: #E74C3C;
}

.comment-form {
  padding-left: 0;
  padding-right: 0;
}

span legend {
  border: 0;
  margin-bottom: 5px;
}


/*============Profile Page============*/
.prof-inf {
  text-align: center;
}

.prof-photo {
  margin-top: 20px;
  text-align: center;
}

.prof-photo img {
  border: 4px double #F58174;
  margin: auto;
}

.prof-name h4 {
  color: #E74C3C;
}

.profile-feed ul li a {
  color: #E74C3C;
}

.prof-photo .glyphicon-edit {
  position: absolute;
  right: 80px;
  top: 4px;
  color: #E74C3C;
  visibility: hidden;
}

.prof-photo:hover > .glyphicon-edit {
  visibility: visible;
}

ul.fr-btns {
  list-style: none;
  text-align: center;
  margin-top: 10px;
}

ul.fr-btns li {
  display: inline-block;
  padding: 0 4px;
}

.add-friend-btn a {
  color: #F95645;
  border: 1px solid rgba(231, 76, 60, 0.50);
  padding: 7px !important;
  background-color: transparent;
}

.msg-btn button {
  color: #F95645;
  border: 1px solid rgba(231, 76, 60, 0.50);
  padding: 5px !important;
  background-color: transparent;
}

.add-friend-btn a:hover, .msg-btn button:hover {
  background: #FFFFFF;
  text-decoration: none;
  border: 1px solid rgba(231, 76, 60, 0.50);
  color: #F95645;
}


/*============Pet List Page============*/
.petlist-info .dl-horizontal dd {
  margin-left: 80px;
}

.petlist-info .dl-horizontal dt {
  width: 60px;
}

.petlist-container {
  border-bottom: 1px solid #FCD5D1;
  margin-bottom: 20px;
}

.petlist-info h4 {
  color: #89342C;
  font-weight: 600;
}

.petlist-info a:hover > h4 {
  color: #F9BBB5;
}

.petlist-container .glyphicon-remove-circle {
  float: right;
  color: #E74C3C;
}


/*============Pet Profile============*/
.petprof-container {
  background: rgba(242, 197, 181, 0.5);
  background-image: url('../images/animals.png');
  background-position: bottom left;
  background-repeat: no-repeat;
}

.petmid {
  background: #FA9381 !important;
  text-align: left !important;
}

.pet-infos .dl-horizontal dt {
  float: left;
  width: 150px;
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #E74C3C;;
  padding: 0 10px;
}

.pet-infos .dl-horizontal dd {
  border: 1px solid #FA9381;
  margin-bottom: 5px;
  padding: 0 10px;
}


/*============Pet of the Day Page============*/
.col-lg-12.pd-infos {
  margin: 30px 0;
}

.pd-content h1 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin: 30px 0;
  color: #555564 !important;
  font-family: 'Montserrat', sans-serif important;
}

.pd-photo {
  text-align: center;
}

.pd-photo a img {
  border: 3px solid #FD8E00;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.45);
  box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.45);
  background: #fff;
}

.pd-name h2 {
  color: #FFFFFF !important;
  font-family: 'Montserrat', sans-serif important;
  background-image: url('../images/name_ribbon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 20px 10px 10px 10px;
  text-align: center;
  margin: -9px;
}

.pd-name a:hover {
  text-decoration: none;
}

.pd-infos ul {
  padding: 0;
}

.pd-infos ul li {
  list-style: none;
  font-family: 'Montserrat', sans-serif important;
  color: #3D1409;
}

.pd-infos ul li span {
  color: #E74C3C;
}

.pd-infos-text {
  margin-left: 80px;
}


/*============PET FOUNDATION============*/
.ads-petfoundation a {
  background: #E74C3C;
  padding: 5px;
  color: #fff;
  border-right: 3px solid #F9BBB5;
  border-left: 3px solid #F9BBB5;
  border-bottom: 3px solid #F9BBB5;
  border-top: 3px solid #F9BBB5;
}

.ads-petfoundation a:hover {
  text-decoration: none;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  border-top: 0;
}

.petfoundation-mid a {
  color: #E74C3C;
  font-size: 15px;
}


/*============SHOP PAGE============*/
.ads-panel:hover{
  background-color: rgba(221, 221, 221, 0.65);
  color: rgb(120, 56, 51);
}
.adshop-content h1 {
  text-align: center;
}

.adshop-container {
  text-align: center;
}

.adshop-img img {
  margin: 15px 0;
}

.adshop-info {
  text-align: left;
}

.adshop-info label {
  padding-left: 0;
}

.btn_adshop {
  position: relative;
  margin-top: 85px;
  margin-bottom: 30px;
}

.btn_adshop a, .btn_adshop .btn {
  color: #fff;
  background: #E74C3C;
  padding: 6px 12px;
}

.panel {
  border: 1px solid rgb(221, 221, 221) !important;
}


/*============ADVERTISE PAGE============*/
.usertype_btn {
  margin-left: 25px;
}

.usertype_btn a {
  padding: 5px 20px !important;
  border-radius: 5px !important;
}

.usertype_btn a:hover {
  border: 1px solid #E74C3C;
  background: #fff;
  color: #E74C3C;
}

.btn_usertype.active {
  border: 1px solid #E74C3C;
  background: #fff;
  color: #E74C3C;
  -webkit-box-shadow: inset -5px 4px 15px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    inset -5px 4px 15px 0px rgba(50, 50, 50, 0.35);
  box-shadow:         inset -5px 4px 15px 0px rgba(50, 50, 50, 0.35);
}


/*============MERCHANT PROFILE============*/
.merchdet-cont {
  border-bottom: 1px solid #CDCDCD;
  margin: 30px 0;
}

.merch-condetails {
  margin-top: 30px;
  text-align: right;
  color: #333;
}

.merch-condetails a {
  color: #333;
  font-size: 16px;
}

a.btn.btn_merch_addnewads {
  color: #fff;
  background: #E74C3C;
  padding: 6px 12px;
}

.merch-feat-ad {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #CDCDCD;
}

.merch-ads {
  text-align: center;
}

.merch-ads div {
  margin-bottom: 30px;
}

.merch-ads h4 {
  margin-bottom: 30px;
  text-align: left;
}

.merch-ads a {
  color: #333;
}

.merch-ads div a img {
  border-bottom: 5px solid #D0CECE;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.merch-ads a img:hover {
  opacity: 0.6;
}

.mf-adinfo .btn {
  margin-top: 15px;
  color: #fff;
  background: #E74C3C;
  padding: 6px 12px;
  border-radius: 5px;
}

.mf-adimg img {
  -webkit-box-shadow: -7px 7px 8px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: -7px 7px 8px 0px rgba(50, 50, 50, 0.35);
  box-shadow: -7px 7px 8px 0px rgba(50, 50, 50, 0.35);
}

p.bnaddress {
  margin: 0;
}

p.bnbg {
  margin: 10px 0;
}


/*============FOUND PETS============*/
.found-imgs-mainp {
  margin: 10px 0;
}

.btninf {
  margin-top: 20px;
}

.btninf p {
  color: #000;
}

.foundpets-page span.glyphicon {
  padding-right: 6px;
}

.found-imgs-mainp img {
  margin-bottom: 10px;
}

.ownerinfos {
  margin: auto;
  display: table;
}

.borderpet {
  border: 1px solid #C8C8C8;
  border-radius: 5px;
  margin: auto;
  display: table;
  padding: 5px;
}

.borderpet img:hover {
  cursor: pointer;
}

.ownerinfos p, .ownerinfos a {
  margin: 0;
  color: #E74C3C;
}

.petotherinfos, .marks {
  margin: 10px 0;
}

.petotherinfos p, .marks p {
  margin: 2px;
}

.right-nav span.glyphicon {
  color: #E74C3C;
}


/*============COMMENTS============*/
.com-name span {
  color: #F55F4F;
  font-weight: 600;
}

.media-body.com-name {
  display: inline-block;
  width: auto;
  margin-top: 5px;
}

ul.comments {
  background: #FAEFEB;
  padding: 10px !important;
  border: 1px solid #E5E4E4;
}

ul.comments .media-left {
  display: inline-block;
}

.newsfeed-title {
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

#home-newsfeed > li{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 15px 0px;
}

#home-newsfeed > li:first-child {
  border-bottom: 0;
  padding: 0;
}

#home-newsfeed > li > .media-left , #home-newsfeed > li > .media-body{
  padding: 5px;
}

.likecom-container {
  margin-top: 10px;
}


/*============LEFT SIDEBAR============*/
.bg-rocky{
 background: rgba(242, 197, 181, 0.5);
 background-image: url('../images/animals.png');
 background-position: bottom left;
 background-repeat: no-repeat;
}

.middle{
  background-color: white;
  padding: 15px;
}

.left-nav {
  padding: 20px;
  font-family: 'Montserrat', sans-serif important;
  text-indent: 50px;
  text-align: left;
}

.left-nav .list-group {
  margin-bottom: 0;
}

.left-nav a:hover {
  background-color: #F9BBB5;
  background-image: url();
  background-position: left;
  background-repeat: no-repeat;
  color: #300D03;
  padding: 10px 20px 10px 20px;
}

a.list-group-item.loc {
  background-image: url('../images/Locate_my_petBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.loc:hover {
  background-image: url('../images/Locate_my_petBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.petday {
  background-image: url('../images/pet_of_the_dayBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.petday:hover {
  background-image: url('../images/pet_of_the_dayBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.trend {
  background-image: url('../images/TrendingBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.trend:hover {
  background-image: url('../images/TrendingBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.ads {
  background-image: url('../images/AdvertiseBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.ads:hover {
  background-image: url('../images/AdvertiseBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.shop {
  background-image: url('../images/ShopBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.shop:hover {
  background-image: url('../images/ShopBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.track {
  background-image: url('../images/TrackersBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.track:hover {
  background-image: url('../images/TrackersBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.friends {
  background-image: url('../images/FriendsBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.friends:hover {
  background-image: url('../images/FriendsBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.compete {
  background-image: url('../images/CompeteBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.compete:hover {
  background-image: url('../images/CompeteBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.videos {
  background-image: url('../images/VideoBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.videos:hover {
  background-image: url('../images/VideoBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.rockyra {
  background-image: url('../images/RangerBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.rockyra:hover {
  background-image: url('../images/RangerBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

a.list-group-item.petfo {
  background-image: url('../images/FoundationBG2.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-nav a.petfo:hover {
  background-image: url('../images/FoundationBG.png');
  background-position: left;
  background-repeat: no-repeat;
}

.left-addpet {
  padding: 10px 20px;
}

.add-my-pet {
  background-image: url('../images/plusBG.png');
  background-position: left;
  background-repeat: no-repeat;
  padding: 8px 15px;
  background-color: #fff;
  width: 100%;
  text-indent: 25px;
  border-left: 3px solid #C0C0C0;
  border-bottom: 3px solid #C0C0C0;
}

.add-my-pet a {
  width: 100%;
  display: inline-block;
  color: #555;
  font-family: 'Montserrat', sans-serif important;
  font-size: 18px;
}

.add-my-pet a:hover {
  text-decoration: none !important;
  color: #E74C3C;
}

.add-friend-btn a p {
  text-indent: 115px;
  color: #E74C3C;
}



/*============Friends List============*/
.friends-list {
  margin: 15px 0;
}

.friends-list a {
  color: #C53C0A;
}

.friends-list a:hover:after {
  width: 100%;
}

.friends-list a:hover {
  color: #89342C;
}

.friends-list a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 4px;
  background-color: #E74C3C;
  content: "";
  transition: width 0.2s;
}

.friends-img {
  margin: auto;
  display: table;
}


/*============RIGHT SIDEBAR============*/

.right {
  text-align: center;
  padding: 0 20px;
}

.right-nav div:last-child {
  margin-bottom: 20px;
}

.right-nav div {
  background: #fff;
  margin: 20px 0 10px 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #DEDDDC;
  font-style: normal;
}

.right nav ul {
  padding: 0;
  list-style: none;
  display: table;
  margin: 0 auto !important;
}

.right nav ul li {
  margin-bottom: 5px;
}

.right nav ul li a img {
  margin-right: 5px;
}

.right-nav {
  font-family: 'Montserrat', sans-serif important;
}

.right-nav .land-right-missing {
  margin-top: 5px;
}


/*============Footer============*/
.footer {
  background: #E74C3C;
  padding: 15px;
  -webkit-box-shadow: 0px -5px 8px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px -5px 8px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px -5px 8px 0px rgba(50, 50, 50, 0.3);
  z-index: 999;
}

.footer p {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif important;
  color: #fff;
  margin: 0;
}

/*============Responsive============*/

@media only screen(min-width: 1200px){
  .container {
    width: 1170px;
  }
}


/*========= OTHER ============ */

.dropdown-menu{
  margin: 15px 0 0;
}


/* VIDEO */

video {
  background: #000;
  padding-top: 10px;
  padding-bottom: 10px;
}
.video-list{
  line-height: 2px;
}
.video-list p{
  padding-top: 2px;
  line-height: 20px;
  font-size: 12px;
}
.video-list .video-date{
  font-size: 11px;
}
.video-list > ul{
  list-style-type: none;
}
.video-list > ul > li{
  margin-left: -35px;
  padding: 5px;
  margin-top: 10px; 
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
