html , body{
  background-color: #f5f5f5;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.nopad{
  padding: 0px;
}
#landing p , #landing button , #landing input{
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
#landing a{
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: black;
  text-decoration: none;
}
#landing .active{
  background-color: #b7042c;
  color: white;
}
#landing > header{
  border-bottom: 1px solid rgba(0,0,0,0.5);
  height:90px;
  background-color: white;
}
#landing .logo{
  padding: 10px 20px;
  width: 160px;
}
#landing > header > div > nav > ul{
  list-style-type: none;
  padding: 10px 35px;
  margin-top: 25px;
}
#landing > header > div > nav > ul > li{
  display: inline-block;
}
#landing > header > div > nav > ul > li > a:not(.active):hover{
  color: #b7042c;
}
#landing > header > div > nav > ul > li > a{
  font-weight: bolder;
  padding: 10px 15px;
  line-height: 15px;
  border-radius: 5px;
}
#landing section > div > div:last-child{
  margin-top: 30px;
}
#landing .landing-bg-section-2 > div{
  height: 100%;
  color:white;
  background-image: url('../images/landing/bg.png');
  background-size: cover;
  background-position: top center;
}
.button-group{
  width: 100%;
  padding: 10px;
  margin-top: -200px;
  z-index: 999;
  margin-left: 22px;
}
.button-group > label{
  margin-top: 20px;
}
.button-group > a{
  font-weight: 100;
  padding: 10px 15px;
  margin: 0px 7px;
  border-radius: 5px;
  color: white !important;
}
.button-group > #btn1{
  background-color: #636363;
}
.button-group > #btn2{
  background-color: #b7042c;
  padding: 10px 22px;
}
.bx-prev {
  background: transparent url("../images/landing/prev_new.png") no-repeat scroll 0 0;
  float: left;
  height: 200px;
  left: 37px;
  position: absolute;
  text-indent: -999999px;
  top: 256px;
  width: 31px;
}

.bx-next {
  background: transparent url("../images/landing/next_new.png") no-repeat scroll 0 0;
  float: right;
  height: 200px;
  position: absolute;
  right: 27px;
  text-indent: -999999px;
  top: 255px;
  width: 35px;
}
#sliderdiv1{
  width: 100%; display: block; visibility: visible; overflow: hidden;
}
#sliderdiv2{
  width: 960px; display: block; visibility: visible; margin: 0 auto;
}
#container{
  text-align:center;
}
#slider1 .item {
  position: absolute;
  top: 250px;
  margin-left: 80px;
  z-index: 9999;
  color: #fff;
}

#slider1 .item p {
  font-size: 22px;
}

#slider1 .item h1 {
  margin-bottom: 40px;
}
#landing section{
  height: 350px;
}
#landing .text-left .button-group{
  margin-top: 15px;
  padding: 0px;
  margin-left: -10px;
}
#landing .text-right .button-group{
  margin-top: 15px;
  padding: 0px;
}
#landing > .map > div > div{
  margin-top: 30px;
}
#landing > .map > div{
  background-image: url('../images/landing/map.jpg');
}
#landing > .map{
  height: 350px;
}
#landing > .map p , #landing > .map h1{
  color:white;
}
.button-group-new {
  margin-top: 15px;
}
.button-group-new a#btn1 {
  background-color: #636363;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 10px;
}
.button-group-new a#btn2 {
  background-color: #B7042C;
  color: #fff;
  padding: 10px 22px;
  border-radius: 5px;
}
button.login {
  background-color: #b7042c;
  color: #fff;
}
footer{
  padding: 20px 10px;
}
footer > nav > ul:first-child{
  margin-top: 20px;
}
footer >  nav > ul{
  list-style-type: none;
}
footer >  nav > ul > li{
  display: inline-block;
}
footer a{
  font-size: 18px;
  padding: 10px;
}
.footer-subscribe{
  width: 40%;
  margin: 0px auto;
}
.footer-subscribe > div > input , .footer-subscribe > div > input:active , .footer-subscribe > div > input:focus{
  border: 1px solid #b7042c; 
  height: 50px;
}
.footer-subscribe > div > span > button{
  border: 1px solid #b7042c;
  background-color: #b7042c;
  color: white;
  height: 50px;
}
.footer-subscribe > div > span > button:hover{
  border: 1px solid #b7042c;
  background-color: #b7042c;
  color: white;
}
section > div > div > #layer1{
  position: absolute;
  z-index: 1;
}
section > div > div > #layer2{
  position: absolute;
  z-index: 2;
}
#landing section > div{
  width: 960px;
  margin: 0px auto;
  height: 350px;
}