 body , html{
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
 }
 /*============Default============*/
 .page-header {
  padding-bottom: 9px;
  margin: 30px 0 20px;
  border-bottom: 1px solid #eee;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
}

a:hover {
  text-decoration: none !important;
}

@font-face{
  font-family: 'CenturyGothic';
  src: url(../fonts/Century_Gothic.ttf) format("ttf"),
       url(../fonts/Century_Gothic.otf) format("otf"),
       url(../fonts/Century_Gothic.woff) format("woff"),
       url(../fonts/Century_Gothic.svg) format("svg");
}

/*=============GENERAL=============*/
.bl {
	display: block !important;
}

#registrationFormAlert, .divCheckEmail {
  background: #CBC9C9;
  font-weight: bolder;
}

/*============Header============*/
.land-menus {
  z-index: 99999;
  position: absolute;
  top: 0px;
}

.land-nav-menu {
  margin: 20px 0;
  padding: 0;
}
.has-sub{
  border-radius: 5px 5px 0px 0px;
}
.land-nav-menu  ul{
  list-style-type: none;
  display: inline;
  float: right;
  padding: 0;
}
.land-nav-menu > ul > li{
  display: inline-block;
  padding: 5px 11px 5px 5px;
}
.land-nav-menu > ul > li > ul{
  position: absolute;
  top: 38px;
  padding: 0px 2px 9px 2px;
  margin-left: -130px;
  border-radius: 0px 0px 5px 5px;
  visibility: hidden;
}
.land-nav-menu > ul > li > ul > li{
  display: block;
  padding:6px;
  padding-right: 22%;
}
.land-nav-menu > ul > li:hover > a {
  color: red;
}
.land-nav-menu > ul > .has-sub:hover , .land-nav-menu > ul > .has-sub:hover > ul{
  background-color: rgba(255,255,255,0.8);
  width: 150px;
}
.land-nav-menu > ul > li:hover ul {
  visibility: visible;
}
.land-nav-menu > ul > li > ul > li > a {
  padding: 10px;
  font-size: 15px;
  font-family: 'Century_Gothic', Arial;
  color: black;
}
.land-nav-menu > ul > li > a {
  padding: 10px;
  font-size: 20px;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
  font-weight: 700;
  color: #fff;
}

a.parent.active {
  background-color: firebrick;
  border-radius: 10px;
  text-decoration: none;
}

.land-slider {
  padding: 0;
  z-index: 1;
}

.pt-links a {
  font-size: 18px;
  color: #8B8B8B;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
  font-weight: bold;
  padding: 0 10px;
}

.pt-links {
  text-align: right;
  padding: 0px 15px;
}

.btn-separator:after {
  content: ' ';
  display: inline-block;
  float: none;
  background: #A0A0A0;
  margin: -10px 0;
  height: 29px;
  width: 1px;
}

.logo {
  margin-top: 10px;
}

/*===INSIDE HEADER===*/
.inside-top {
  background: rgb(247,247,247);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(160,160,160,1) 50%, rgba(148,148,148,1) 52%, rgba(119,119,119,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(50%,rgba(160,160,160,1)), color-stop(52%,rgba(148,148,148,1)), color-stop(100%,rgba(119,119,119,1)));
  background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(160,160,160,1) 50%,rgba(148,148,148,1) 52%,rgba(119,119,119,1) 100%);
  background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(160,160,160,1) 50%,rgba(148,148,148,1) 52%,rgba(119,119,119,1) 100%);
  background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(160,160,160,1) 50%,rgba(148,148,148,1) 52%,rgba(119,119,119,1) 100%);
  background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(160,160,160,1) 50%,rgba(148,148,148,1) 52%,rgba(119,119,119,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#777777',GradientType=0 );
}

.inside-logo {
  margin-top: 4px;
}

.in-menus {
  margin: 10px 0;
  padding: 0;
}

.in-menus ul {
  padding: 0;
  list-style: none;
  margin: 0;
  float: right;
}

.in-menus ul li {
  float: left;
}

.in-menus a {
  padding: 0 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
}

span.line {
  border-left: 2px solid #252525;
  padding: 12px 0;
}

#tfnewsearch{
  padding-top:10px;
}

.tftextinput4{
  margin: 0;
  padding: 10px;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  color:#666;
  border-radius: 8px;
  -webkit-box-shadow: inset 8px 6px 10px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    inset 8px 6px 10px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         inset 8px 6px 10px 0px rgba(50, 50, 50, 0.25);
}

.tfbutton4 {
  margin-left: -40px;
  padding: 0;
  width: 30px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 8px;
  background-image: url('../images/new/searchsub-btn.png');
  background-size: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
}

/* Fixes submit button height problem in Firefox */
.tfbutton4::-moz-focus-inner {
  border: 0;
}

.tfclear{
  clear:both;
}


/*============Landing============*/
.landing-content {
  padding: 0;
  background-color: #E6E7E8;
  text-align: center;
}

.why-join {
  padding: 35px;
  background-color: #E6E7E8;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
  font-weight: bold;
  font-size: 40px;
}

.why-join h1 {
  font-size: 40px;
}

.why-join p {
  font-size: 16px;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
  font-weight: normal;
}

.photo-menu, .first-row, .sec-row {
  padding: 0;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
}

.first-row a, .sec-row a {
  color: #fff;
  padding: 10px 15px;
  border: 3px solid;
}

.first-row h1, .sec-row h1 {
  margin-bottom: 30px;
}

.wc-cont {
  background: url('../images/new/vet.jpg') no-repeat scroll center;
  background-size: 100% 100%;
  padding: 10% 0;
  color: #fff;
  font-weight: bold;
  text-shadow: 4px 4px 8px rgba(76, 76, 76, 1);
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
}

.wc-cont h1 {
  font-weight: bold;
}

.wc-cont h4 {
  margin-bottom: 30px;
  font-weight: bold;
}

.wc-cont a {
  color: #fff;
  padding: 10px 15px;
  border: 3px solid;
  font-weight: bold;
}

.land-missing-pets {
  padding: 25px;
  background-color: #E6E7E8;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
}

h1.missing-intro {
  margin: 45px 0 60px 0;
}

h1.missing-bottom {
  margin: 15px;
}

.missing-infos {
  -webkit-box-shadow: 10px 11px 8px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: 10px 11px 8px 0px rgba(50, 50, 50, 0.55);
  box-shadow: 10px 11px 8px 0px rgba(50, 50, 50, 0.55);
  border-radius: 5px;
  min-height: 380px;
  margin-bottom: 50%;
}

.missing-infos p {
  border-top: 1px solid;
  width: 50%;
  display: table;
  margin: 0 auto;
}

.missing-infos h3 {
  margin-bottom: 30px;
  font-weight: bold;
}

.missing-infos a {
  padding: 10px 10px 31px 10px;
  margin-top: 10px;
  color: #fff;
  background: rgb(250,47,47); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhMmYyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAyMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(250,47,47,1) 0%, rgba(109,2,2,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,47,47,1)), color-stop(100%,rgba(109,2,2,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(250,47,47,1) 0%,rgba(109,2,2,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(250,47,47,1) 0%,rgba(109,2,2,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(250,47,47,1) 0%,rgba(109,2,2,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(250,47,47,1) 0%,rgba(109,2,2,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa2f2f', endColorstr='#6d0202',GradientType=0 ); /* IE6-8 */
}

.land-map {
  background: url('../images/new/map.jpg') no-repeat fixed center;
  margin-bottom: 10%;
}

.map-phone {
  margin: 5% 0;
}

.map-details {
  color: #fff;
  margin: 15% 0;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
}

.map-details h1 {
  font-size: 50px;
  font-weight: bold;
}

.track-btn {
  margin: 20px 0;
}

.track-btn a {
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

a.learn, a.slilearn {
  background-color: #EE9B00;
  margin-right: 10px;
}

a.buy, a.join {
  background-color: #b7062b;
}

.we-care {
  padding: 0;
  background-color: #E6E7E8;
}

.we-care img {
  margin-top: 10%;
  width: 100%;
}

.social {
  margin: 15px 0;
  font-weight: bold;
  color: #454545;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
}

.social p {
  font-size: 20px;
}


/*============LEFT SIDEBAR============*/
.bg-rocky{
 background: #ececec;
}

.middle{
  padding: 15px 0;
}

.left-cont div ul {
  padding-left: 15px;
  list-style: none;
  margin: 20px 0 10px 0;
}

.left-cont, .left-cont div {
  padding: 0;
}

.left-cont div h6 {
  padding: 0 15px;
  color: #a2a2a2;
  font-weight: 700;
  font-size: 14px;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
}

.left-cont div p {
  padding: 0 15px;
  color: #2C2B2B;
  font-size: 14px;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
}

.left-cont div ul li a {
  color: #252525;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
  font-size: 13px;
}

.left-cont div ul li a img {
  margin: 5px 10px 8px 0;
}


/*============Nearest Pet Shop============*/
.nearest-ps {
  margin: 10px 0;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
}

.nearest-map, .recom-ps, .cities {
  padding: 0;
}

.bowl img {
  width: 100%;
}

.cities, .recom-ps h5 {
  margin: 20px 0 10px 0;
}

.cities a {
  font-family: arial;
  font-weight: 700;
  font-size: 12px;
  color: #b7062b;
  padding: 0px 1px;
}

.recom-ps h5 {
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
  font-size: 18px !important;
}

.nps-loc {
  padding: 25px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #949494;
  border-radius: 8px;
}

.nearestps-loc {
  padding: 0;
  margin-bottom: 20px;
}

.nearestps-loc .col-lg-5 {
  padding-left: 0;
}

.nearestps-loc .col-lg-7 {
  padding: 0;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
}

.nearestps-loc div img {
  width: 100%;
}

.nearestps-loc div p {
  margin: 10px 0;
}

.cont-det ul {
  padding: 0;
}

.cont-det ul li.pn {
  background: url('../images/new/phone-num.png') no-repeat left center;
  list-style: none;
  padding: 1px 28px;
}

.cont-det ul li.em {
  background: url('../images/new/email.png') no-repeat left center;
  list-style: none;
  padding: 1px 28px;
}

.view_btn {
  margin-top: 15px;
}

.view_btn a {
  padding: 12px 45px;
  color: #252525;
  background-color: #D1D1D1;
  border-radius: 8px;
}


/*============Dogs of the Week============*/
.dow-cont {
  padding: 0;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
}

.star {
  text-align: center;
}

.star img {
  width: 53px;
}

.upload-video, .nearest-ps {
  border: 1px solid #949494;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
}

.searchvids, .searchpetshop {
  padding: 0;
}

.tftextinput5 {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
  border: 3px solid;
  border-radius: 8px;
  width: 100%;
}

.tfbutton5 {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 8px;
  background-image: url('../images/new/searchsub-btn.png');
  background-size: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  position: absolute;
  right: 17px;
  top: 18px;
}

/* Fixes submit button height problem in Firefox */
.tfbutton5::-moz-focus-inner {
  border: 0;
}

button.upvid_btn {
  padding: 13px 0px;
  margin-top: 9px;
  border-radius: 8px;
  border: 0;
  background-color: #b7062b;
  color: #fff;
  width: 100%;
}

.videos {
  padding: 0;
  border: 1px solid #949494;
  border-radius: 8px;
  margin: 20px 0;
  background-color: #fff;
}

.title {
  margin: 10px 0;
  padding: 0;
  border-bottom: 1px solid #000;
  padding: 0 20px;
}

.title-left {
  margin-bottom: 10px;
}

.title-left img {
  width: 35px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.title-right {
  margin-top: 10px;
}

.title-right a {
  padding: 0 10px;
  color: #252525;
}

.title-right a:hover {
  border-bottom: 4px solid #b7062b;
}

.videos-cont {
  margin: 10px 0;
  border-bottom: 1px solid #000;
}

.vidthumb {
  margin: 10px 0;
}

.vidthumb img {
  width: 100%;
  margin-bottom: 10px;
}

.vdetails p a, .vdetails a {
  margin-bottom: 0;
  color: #B7062B;
  font-size: 16px;
}

.vdetails span {
  color: #242424;
}

p.viewsdate {
  font-size: 11px;
  margin-top: 5px;
  color: #242424;
}

.videos-cont h6 {
  padding: 0 15px;
  font-weight: 700;
  font-family: arial;
}

.recom {
  border-bottom: 0;
}

.nav-tabs {
  border-bottom: 0;
  float: right;
}

.nav>li>a {
  padding: 0px 10px;
}

.nav-tabs>li>a {
  border: 0;
}

.nav-tabs>li>a:hover {
  border-color: transparent;
  background-color: transparent;
  border-bottom: 4px solid #b7062b;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: transparent;
  border-bottom: 4px solid #b7062b;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.logupload {
  margin-top: 20px;
}


/*======== NEIGHBORS ========*/
.neigh-details a {
  color: #B7062B;
}

.neigh-details a h4 {
  margin-bottom: 5px;
  font-weight: 900;
}

.videos.neighbors img {
  border-radius: 6px;
}


/*======== LOVERS MID ========*/
.post-area{
  border: 1px solid #c3c3c3;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
  margin-bottom: 15px;
}
.post-area textarea{
  border: 1px solid #c3c3c3;
  border-radius: 0;
  width: 98%;
}
.nopad{
  padding: 0px 10px 5px 5px;
}
.post-area > div > img{
  border: 1px solid #c3c3c3;
}
.post-area > div > div{
  padding-bottom: 10px;
}
.post-area > div > div > div > a{
  padding-right: 10px;
  color:gray;
}
.push-left{
  float: left;
}
.push-left span {
  color: #464646;
}
.push-right{
  float: right;
  padding-right: 15px;
}
.post-area .btn{
  background: #b7062b !important;
  color:white;
  font-weight: bold;
  border-radius: 5px;
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-bottom: 5px solid transparent;  
  border-top: 5px solid transparent; 
  border-left: 5px solid #c3c3c3; 
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 25px;
}

.postcont {
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
}

.postcont, .userinf {
  padding-left: 5px;
  margin: 8px 0;
}

.userinf {
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
  font-weight: 700;
  font-size: 15px;
}

.userinf a {
  color: #b7062b;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
  font-size: 14px;
}

.userinf span.date {
  font-size: 11px;
}

img.vidphoto {
  width: 100%;
}

.like-com-sec {
  padding-left: 0;
}

.like-comm {
  margin: 10px 0;
  padding-bottom: 0px !important;
}

.like-comm.nps a span {
  position: absolute;
  bottom: 76px;
  left: 12px;
  color: #262626;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
  font-size: 11px;
}

.like-comm a span {
  position: absolute;
  bottom: 90px;
  left: 12px;
  color: #262626;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
  font-size: 11px;
}

.like-comm img {
  width: 4%;
}

.comminput div textarea {
  height: 57px;
}

/* END LOVER MID*/


/*============RIGHT SIDEBAR============*/
.loc-map {
  padding: 0;
  margin-top: 25px;
}

.location {
  padding: 0 0 30px 0;
  text-align: center;
  border-bottom: 3px solid #c3c3c3;
}

img.locimg {
  width: 100%;
}

.location a {
  padding: 0 8px;
}

.trackapp {
  padding: 30px 0 0 0;
}

.missing-right {
  margin: 40px 0;
}

.missing-right .missing-cont {
  max-height: 450px;
}

.missing-right div .missing-infos {
  box-shadow: none;
  border: 1px solid #B3B3B3;
  min-height: 405px;
}

.missing-right div img {
  width: 100%;
  border-radius: 5px;
}


/*============Footer============*/
.footer {
  background-color: #E6E7E8;
  padding: 30px 0;
}

.footer p {
  font-size: 12px;
  font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
  color: #fff;
  margin: 0;
}


/*========= OTHER ============ */

.dropdown-menu{
  margin: 15px 0 0;
}

.top-mid-btns .row{
  padding: 0px 2px;
  margin: 0px 2px;
}


/*============Responsive============*/
@media only screen and (max-width: 1440px) {
  .like-comm.nps a span {
    position: absolute;
    bottom: 73px;
    left: 8px;
    color: #262626;
    font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
    font-size: 11px;
  }

  .like-comm a span {
    position: absolute;
    bottom: 85px;
    left: 12px;
    color: #262626;
    font-family: 'CenturyGothic', 'Comfortaa', cursive, arial;
    font-size: 11px;
  }

  .missing-right div .missing-infos {
    box-shadow: none;
    border: 1px solid #B3B3B3;
    min-height: 376px;
  }

  .location a {
    padding: 0 5px;
  }
}

@media only screen and (max-width: 1350px) {
  .logupload {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1340px) {
  .missing-right div .missing-infos {
    box-shadow: none;
    border: 1px solid #B3B3B3;
    min-height: 360px;
  }

  .location a {
    padding: 0 3px;
  }
}

@media only screen and (max-width: 1230px) {
  
}


/* OTHER*/
#play-button  img{
  width: 150px;
}
#play-button{
  border: 1px solid black;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  margin-top: -50%;
  margin-bottom: 30%;
}

/*END OTHER*/